---
import Layout from "@/layouts/Layout.astro"
import SearchBar from "@/components/SearchBar.tsx"
import { Componente } from "@/components/Componente.jsx"
import { getProcesadores } from "@/db/client.js"

await getProcesadores()
---

<Layout title="Inicio">
	<main class="w-full h-full max-h-full flex flex-col items-center overflow-y-auto">
		<section class="w-full h-20 flex items-center justify-center">
			<SearchBar />
		</section>
		<section class="w-full h-[calc(100%-80px)] min-h-fit flex flex-col">
			<Componente client:only="react">
				<p slot="fallback" id="no-search-text" class="px-4 max-w-xl mx-auto text-[#aaaa] mt-4">Por ahora puedes buscar procesadores de Intel, con el tiempo iré añadiendo más componentes.</p>
			</Componente>
		</section>
	</main>
</Layout>