<header class="sticky top-0 w-full h-16 min-h-16 flex justify-center bg-[inherit]">
  <nav class="w-2/3 h-full min-w-64 min-h-fit max-w-screen-lg flex justify-center items-center gap-8 flex-wrap">
    <a href="/" class="h-[calc(100%-16px)] w-fit flex items-center justify-center px-4">Inicio</a>
    <a href="/gestion" class="h-[calc(100%-16px)] w-fit flex items-center justify-center px-4">Gestión</a>
  </nav>
</header>